{% extends 'Registro/base.html'%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar trinket</title>
  </head>

  <body>
    <h2>Lista de trinkets</h2>
    {% for o in trinkets %}
        <div>
            <p>Nombre: {{ o.nombre }} </p>
            <p>Descripcion: {{ o.descripcion }} </p>
            <p>Categoria: {{ o.categoria }} </p>
        </div>
        <br>
    {% endfor %}


  </body>
</html>